<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <h1 class="page-header">Todo <small>{{remainingCount}} items left</small></h1>
      <form ng-submit="addTodo()">
        <input type="text" placeholder="What needs to be done?" ng-model="newTodo.title" class="form-control" autofocus />
      </form>
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="todo in todos | orderBy:'title' | orderBy:'completed'" ng-class="{active: todo.completed}">
        <a href="#" ng-click="mark(todo)">{{todo.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p><a href="https://twitter.com/simplyianm">@simplyianm</a> |
      <a href="https://github.com/simplyianm/todo-restifier">Github</a>
    </p>
  </div>
</footer>
